.app_orange_theme {
  --bg-color: #faf4fb;
  --inverted-bg-color: #de5f10;
  --primary-color: #ba1b0d;
  --secondary-color: #d01f0e;
  --inverted-primary-color: #fbf7f4;
  --inverted-secondary-color: #faf4fb;
}
