.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
}

.editButton {
  margin-left: auto;
}

.content {
  margin-top: 30px;
}

.input {
  margin-bottom: 10px;
}
